

/* Footer */
.footer {
  width: 100%;
  background-color: #666;
  text-align: center;
  padding: 30px;
  color: #fff;
}

.footer_row {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 30px 50px;
  /* border: 1px solid #000; */
}

.locations_title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.locations_text {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}

.locations_text::first-line {
  text-transform: uppercase;
  font-size: 20px;
}

.footer_logo {
  width: 200px;
}

.footer_logo img {
  width: 100%;
}

.footer_all {
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  width: 200px;
  /* margin-right: 50px; */
  justify-content: space-between;
}

.footer_menu {
  text-align: left;
  margin-bottom: 20px;
  line-height: 30px;
  /* text-decoration: underline; */
  font-size: 18px;
  display: flex;
}

.footer_menu li {
  margin-bottom: 10px;
}

.footer_social_block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_social_block a {
  margin-bottom: 5px;
}

.contact_YouTube {}

.contackt_Facebook {}

.contact_instagram {}

.contact_whatsapp {}

.contact_telegram {}

.contact_viber {}

.contact_tel {}

.contact_mail {}

.Copyright {

}